.btn {
  min-width: 160px;
  text-transform: uppercase;
  letter-spacing: .5px;
}


.btn-secondary {
  border-color: transparent;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6fba29+0,538d1d+49,538d1d+51,6fba29+100 */
  background: -moz-linear-gradient(top, #6fba29 0%, #538d1d 49%, #538d1d 51%, #6fba29 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6fba29 0%,#538d1d 49%,#538d1d 51%,#6fba29 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6fba29 0%,#538d1d 49%,#538d1d 51%,#6fba29 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fba29', endColorstr='#6fba29',GradientType=0 ); /* IE6-9 */
}

.btn-primary {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#396bba+0,104294+50,396bba+100 */
  border-color: transparent;
  background: -moz-linear-gradient(top, #396bba 0%, #104294 50%, #396bba 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #396bba 0%,#104294 50%,#396bba 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #396bba 0%,#104294 50%,#396bba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#396bba', endColorstr='#396bba',GradientType=0 ); /* IE6-9 */
}
