.main-footer {
  background-color: #023CA7;
  color: #fff;
  font-size: 13px;

  .line-pattern {
    height: 4px;
  }

  a {
    color: #fff;
  }

  &-top {
    padding-top: 50px;
    margin-bottom: 70px;

    @include media-breakpoint-down(sm) {
      padding-top: 30px;
      margin-bottom: 20px;
    }
  }



  &-bottom {
    background-color: #002B79;
    text-align: center;
    color: #fff;
    padding: 15px 0;
  }


  .copyright {
    margin: 0;
    font-weight: 300;
    opacity: .9;
  }

  .widget {
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  }
}

////

.widget-title {
  margin-bottom: 22px;
  font-size: 16px;
}


.widget-about {
  max-width: 300px;

  img {
    max-width: 200px;
    margin-bottom: 16px;
  }
}


.widget-link  {
  ul {
    li {
      display: flex;

      svg {
        margin-right: 4px;
      }

      a {
        display: block;
        padding: 4px 0;
      }
    }
  }
}



////


