
img {
  max-width: 100%;
}

h2 {
  font-size: 34px;

  @include media-breakpoint-down(sm) {
    font-size: 25px;
  }
}

strong {
  font-weight: 600;
}

h3 {
  font-size: 25px;

  @include media-breakpoint-down(sm) {

    font-size: 20px;
  }
}

h4 {
  font-size: 20px;

  @include media-breakpoint-down(sm) {

    font-size: 18px;
  }
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-control {
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 8px;
}

.text-orange {
  color: $orange!important;
}

.bg-teal {
  background-color: #3BA5C1!important;
}


.pt-0 {
  padding: 0;
}

.mt-20px {
  margin-top: 20px!important;
}

.mt-30px {
  margin-top: 30px!important;
}

.mt-40px {
  margin-top: 40px!important;
}
.r-0 {
  border-radius: 0!important;
}

.form-control-lg {
  font-size: 17px;
}


.mb-0 {
  margin-bottom: 0!important;
}
.pb-10px {
  padding-bottom: 10px!important;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon-graph {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-image: url('../images/icons/icon-dash-topo.png');
}
