

label {
  font-weight: 300;
  margin-bottom: 5px;
}



.form-control {

  &::placeholder {
    font-weight: 300;
  }
}

.contact-info {
  @include media-breakpoint-down(sm) {
    margin-top: 30px;
  }
}


.section-contact-form {
  padding-bottom: 80px;

  .form-group {
    margin-bottom: 12px;
  }

  .btn {
    margin-top: 10px;
  }
}


.newsletter-form {
  margin-top: 100px;

  p {
    margin-bottom: 6px;

    small {
      font-size: 11px;
      font-style: italic;
    }
  }

}


.page-horiz-separtor {
  display: none;
}

@include media-breakpoint-up(md) {
  .page-contact {
    display: flex;
  }

  .page-contact-left {
    width: 50%;
  }

  .page-contact-right {
    width: 50%;
  }

  .page-horiz-separtor {
    display: block;
    padding: 0 45px;
  }
}
