.section {
  padding: 50px 0;
}

.section-heading {
  position: relative;
  text-align: center;
  max-width: 1024px;
  margin: auto;
  font-weight: 300;
  margin-bottom: 50px;

  font-size: 16px;

  h1,
  h2 {
    color: $blue;
  }

  &:after {
    content: '';
    @extend .bseparator;

    margin: 40px auto 0;
  }

  @include media-breakpoint-up(md) {

    font-size: 20px;
  }

  @include media-breakpoint-down(sm) {
    text-align: left;

    h1,
    h2 {
      font-size: 30px;
    }

    &:after {
      margin: 30px auto 0;
    }
  }
}


.section-hero {
  text-align: center;
  padding: 50px 0;
  font-weight: 300;

  .btn {
    margin-top: 20px;
  }


  h2 {
    color: $blue;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .section-heading {
    margin-bottom: 0;

    &:after {
     display: none;
    }
  }


  &-primary {
    background-color: $blue;
    color: #fff;

    h2 {
      color: #fff;
    }
  }



  @include media-breakpoint-up(md) {

    font-size: 20px;
  }


}


.section-copy {
  font-weight: 300;
  line-height: 1.3;

  h4,
  h3,
  h2 {
    color: $blue;
  }


  p {
    margin-bottom: 20px;
  }

  .bseparator {
    margin-top: 35px;
    margin-bottom: 35px;

    @include media-breakpoint-up(md) {

      margin-top: 45px;
      margin-bottom: 45px;

    }
  }

  &-sm {
    font-weight: 300;
    line-height: 1.6;

    span {
      font-weight: 400;
    }
  }

  @include media-breakpoint-up(md) {

    font-size: 20px;
  }
}


