.list-ctr-item {
  display: flex;
  padding: 8px 0;
  font-weight: 300;

  .block-count {
    margin-right: 26px;
  }

  h3 {
    margin-top: 8px;
    font-size: 22px;
    color: $blue;
  }

  &:nth-child(2n) {

    h3 {
      color: $blue-light;
    }

    .block-count {
      border-color: $blue-light;
      background-color: $blue-light;
    }

  }

  @include media-breakpoint-up(md) {
    padding: 15px 0;
    font-size: 20px;

    h3 {
      font-size: 30px;
    }
  }
}

