.list-process {

  .list-heading {
    display: flex;
    margin-bottom: 10px;

    h3 {
      color: $blue-light;
    }
  }

  .list-ctr {
    display: inline-block;
    width: 44px;
    min-width: 44px;
    height: 44px;
    background-color: $blue-light;

    color: rgba(255, 255, 255, 0.24);
    font-size: 34px;
    font-weight: 800;
    line-height: 1.3;
    text-align: center;
    margin-right: 14px;
  }


  li {
    font-weight: 300;
    margin-bottom: 50px;


    &:nth-child(2n) {
      text-align: right;

      .list-ctr {
        background-color: $orange;

        margin-left: 14px;
        margin-right: 0;
      }

      .list-heading {
        flex-direction: row-reverse;


        h3 {
          color: $orange;
        }
      }

    }

    @include media-breakpoint-up(md) {
      align-items: center;
      font-size: 20px;

      .list-ctr {
        width: 64px;
        min-width: 64px;
        height: 64px;
        font-size: 50px;
      }
    }


  }
}
