.section-form {
  padding-bottom: 50px;

  .form-action {
    text-align: center;
    margin-top: 20px;
  }


  input[type="password"] {
    font-size: 53px;
    color: #ddd;
    padding-top: 0;

    &:focus {
      color: $gray-700;
    }
  }

}



.form-sign-inout {
  padding-top: 50px;
  padding-bottom: 50px;
}

.form-control-holder {
  position: relative;

  svg {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 16px;
    color: lighten($green, 8%);
  }
}

.form-group {
  &.is-ok {
    svg {
      display: block;
    }
  }

  .custom-control {
    margin-top: 8px;
  }
}




////

.form-sign {
  p {
    font-size: 19px;
    font-weight: 300;
  }

  &-heading {
    text-align: center;
    margin-bottom: 50px;

    h2 {
      margin-bottom: 0;
      color: $blue;
    }
  }


  .form-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }

}

.form-sign-separator {
  position: relative;
  text-align: center;
  margin: 20px 0 30px;

  &:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    top: -20px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ddd;


  }

  .icon-pencil {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color: #fff;
    color: #fff;
    font-size: 23px;
    color: $blue;
    border: 9px solid $blue;
    text-align: center;
    line-height: 2;
    display: inline-block;
    position: relative;
    z-index: 1;
  }

  @include media-breakpoint-up(md) {
    height: 500px;
    margin: 0;

    &:after {
      width: 100%;
      height: 100%;
      background: url(../images/separators/separator-horiz.png);
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: center;
    }

    .icon-pencil {
      margin-top: 3.1em;
    }
  }

}
