.success-copy {
  max-width: 500px;
  text-align: center;
  margin: auto;
}


.code-holder {
  max-width: 245px;
  margin: 0 auto 30px;
  text-align: center;
}

.code-box {
  color: $blue;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 2px;

  margin-bottom: 10px;
}
